############################
# OS X
############################

/API/.DS_Store
/API/.AppleDouble
/API/.LSOverride
/API/Icon
/API/.Spotlight-V100
/API/.Trashes
/API/._*


############################
# Linux
############################

/API/*~


############################
# Windows
############################

/API/Thumbs.db
/API/ehthumbs.db
/API/Desktop.ini
/API/$RECYCLE.BIN/
/API/*.cab
/API/*.msi
/API/*.msm
/API/*.msp


############################
# Packages
############################

/API/*.7z
/API/*.csv
/API/*.dat
/API/*.dmg
/API/*.gz
/API/*.iso
/API/*.jar
/API/*.rar
/API/*.tar
/API/*.zip
/API/*.com
/API/*.class
/API/*.dll
/API/*.exe
/API/*.o
/API/*.seed
/API/*.so
/API/*.swo
/API/*.swp
/API/*.swn
/API/*.swm
/API/*.out
/API/*.pid


############################
# Logs and databases
############################

/API/.tmp
/API/*.log
/API/*.sql
/API/*.sqlite
/API/*.sqlite3


############################
# Misc.
############################

/API/*#
/API/ssl
/API/.idea
/API/nbproject


############################
# Node.js
############################

/API/lib-cov
/API/lcov.info
/API/pids
/API/logs
/API/results
/API/node_modules
/API/.node_history


############################
# Tests
############################

/API/testApp
/API/coverage
